.best {
    margin: 0 0 60px 0;
}
.best__title {
    margin: 0 0 20px 0;
    font-size: rem(32);
    line-height: prc(43, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.best__card {
}
